* {
    margin: 0%;
    padding: 0%;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
i {
    margin: 0%;
    padding: 0%;
    line-height: 0.8;
}

.container {
    margin: 0% auto;
    width: 1320px;
}

/* Headertoppart start  */
.headertopBg {
    padding: 6px 0;
    background: linear-gradient(90deg, #FF1E1E 0%, #FF8079 100%);
}

.headertop {
    display: flex;
    color: white;
    column-gap: 30px;
    font-weight: 500;
    font-size: 16px;
    font-family: "Hind Siliguri", sans-serif;
}

/* Headerpart start  */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.menu-ul {
    display: flex;
    column-gap: 20px;
    color: #342B27;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-weight: 600;
    transition: .4s;
    cursor: pointer;
}

.menu-ul :hover {
    color: #CF0000;
}

.linkFlex {
    display: flex;
    column-gap: 20px;
}

/* Banner part start  */

.banner {
    margin: 0 auto;
    width: 1676px;
    height: 766px;
    position: relative;
}

.bannerh4 {
    color: #FF7E31;
    font-size: 42px;
    font-weight: 600;
    font-family: "Trirong", serif;
    font-style: italic;
}

.bannerh1 {
    color: white;
    font-size: 92px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    width: 561px;
    line-height: 100%;
    padding-top: 30px;
}

.bannerText {
    position: absolute;
    left: 178px;
    top: 240px;
}

.bannterBtn {
    margin-top: 100px;
    padding: 16px 32px;
    border-radius: 41px;
    background-color: white;
    color: #CF0000;
    cursor: pointer;
    transition: .4s;
    font-size: 18px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    margin-right: 15px;
}

.bannterBtn:hover {
    background-color: #FF8079;
    color: white;
}

/* Counterpartr start  */
.counterPart {
    margin: 50px 0;
}

.counterH3 {
    text-align: center;
    font-size: 48px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.counterH3 span {
    background: linear-gradient(90deg, #F5595A 0%, #E6333D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-style: italic;
    font-family: "Trirong", serif;
}

.counterItem {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 70px 0;
    padding: 0 40px;
}

.counterItemOne {
    text-align: center;
}

.counterItemOne h4 {
    background: linear-gradient(90deg, #F5595A 0%, #E6333D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 72px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
}

.counterItemOne p {
    margin-top: 5px;
    color: black;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

/* Aboutpart start  */

.aboutImg {
    width: 1440px;
    margin: 0 auto;
    position: relative;

}

.aboutText {
    position: absolute;

    left: 60px;
    top: 121px;
}

.aboutText h4 {
    background: linear-gradient(90deg, #F5595A 0%, #E6333D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-family: "Trirong", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 42px;
}

.aboutText h5 {
    margin-top: 8px;
    font-size: 40px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    width: 643px;
    line-height: 120%;
}

.aboutText p {
    margin-top: 30px;
    color: #605F62;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    line-height: 120%;
    width: 643px;
}

.aboutBtn {
    margin-top: 60px;
    padding: 16px 32px;
    border-radius: 41px;
    background-color: white;
    color: #CF0000;
    cursor: pointer;
    transition: .4s;
    font-size: 18px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    margin-right: 15px;
    border: 1px solid #FF8079;
}

.aboutBtn:hover {
    background-color: #FF8079;
    color: white;
}

/* Servicepart start  */
.servicepart {
    margin: 100px 0;
}

.serviceText h3 {
    text-align: center;
    font-size: 48px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.serviceText h3 span {
    background: linear-gradient(90deg, #F5595A 0%, #E6333D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-style: italic;
    font-family: "Trirong", serif;
}

.serviceText p {
    margin: 32px 0;
    color: #605F62;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    padding: 0 260px;
    line-height: 25px;
}

.serviceMainBtn {
    margin: 0 auto;
    width: 466px;
    height: 74px;
    border: 1px solid #D9D9D9;
    border-radius: 37px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.serviceMainBtn button {
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    border: none;
    background: white;
    padding: 16px 64px;
    border-radius: 29px;
    cursor: pointer;
}

.serviceMainBtn .serviceBtnTwo {
    color: white;
    font-size: 24px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    border: none;
    background: linear-gradient(90deg, #FF1E1E 0%, #FF8079 100%);
    padding: 16px 64px;
    border-radius: 29px;
    cursor: pointer;
}

.serviceItems {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.serviceItemOne {
    width: 380px;
}

.serviceItemRelative {
    position: relative;

}

.serviceItemAbsulet {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 65px;
}

.serviceItemRelative img {
    display: block;
}

.serviceItemAbsulet h4 {
    margin-top: 60px;
    color: #1F1E1E;
    font-size: 32px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    width: 250px;
    line-height: 130%;
}

.serviceItemAbsulet p {
    margin-top: 16px;
    color: #605F62;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    width: 320px;
    line-height: 25px;
}

/* Clientfeedback Sart  */
.clientFeedbackpart {
    margin-bottom: 100px;
}

.clFeedback h3 {
    text-align: center;
    font-size: 48px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.clFeedback h3 span {
    background: linear-gradient(90deg, #F5595A 0%, #E6333D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-style: italic;
    font-family: "Trirong", serif;
}

.clientfeedbackImg {
    margin: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clientFeedbackBtn {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 16px 32px;
    border-radius: 41px;
    background: linear-gradient(90deg, #F5595A 0%, #E6333D 100%);
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    border: none;
}

.campusImg {
    margin-top: 100px;
    text-align: center;
}

.companyConnected {
    margin-bottom: 350px;
}

.companyConnectedText h3 {
    background: linear-gradient(to right, #EF473A, #CB2D3E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    ;
    text-align: center;
    font-size: 48px;
    font-style: italic;
    font-family: "Trirong", serif;
}

.companyConnectedText h4 {
    padding-top: 10px;
    color: #1F1E1E;
    text-align: center;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    padding-bottom: 60px;
}

.cMainBtn {
    margin: 0 auto;
    width: 840px;
    height: 74px;
    border: 1px solid #D9D9D9;
    border-radius: 37px;
    display: flex;
    padding: 8px;
}

.cMainBtn button {
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    border: none;
    background: white;
    padding: 16px 64px;
    border-radius: 29px;
    cursor: pointer;
}

.cMainBtn .cBtnTwo {
    color: white;
    background: linear-gradient(90deg, #FF1E1E 0%, #FF8079 100%);
    cursor: pointer;
}

.companyConnectedImg {
    margin-top: 60px;
    text-align: center;
    width: 100%;
}

/* Getin Touch start  */
.getTouchRelative {
    position: relative;
}

.getTouchAbsolute {
    position: absolute;
    top: 0;
    left: 0;
    padding: 100px 97px;
}

.getTouchAbsolute h3 {
    color: #000000;
    font-size: 48px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    width: 371px;
    line-height: 110%;
}

.getTouchAbsolute h3 span {
    color: #CF0000;
    font-style: italic;
    font-family: "Trirong", serif;
}

.getTouchAbsolute p {
    padding-top: 30px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    width: 559px;
    line-height: 150%;
    color: #4D4541;
}

.getTouchBtn {
    margin-top: 60px;
    padding: 16px 32px;
    border-radius: 41px;
    background-color: white;
    color: #CF0000;
    cursor: pointer;
    transition: .4s;
    font-size: 18px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    margin-right: 15px;
    border: 1px solid #FF8079;
}

.getTouchBtn:hover {
    background-color: #FF8079;
    color: white;
}

/* FooterPart start  */
.footerpart {
    margin-top: 100px;
    background-color: #1F1E1E;
    padding: 50px 0;
    position: relative;
}

.getTouchMainAbosolut {
    position: absolute;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
}

.footerFlex {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-bottom: 80px;
    padding-top: 300px;
}

.footerItemOne h5 {
    color: white;
    font-size: 21px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    margin-bottom: 30px;
}

.imgTextflex {
    display: flex;
    column-gap: 15px;
    margin-bottom: 30px;
}

.footerItemOne h4 {
    color: white;
    font-size: 24px;
    font-style: italic;
    font-family: "Trirong", serif;
    font-weight: bold;
    padding-top: 10px;
}

.footerItemOne p {
    padding-top: 8px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    width: 194px;
    line-height: 150%;
}

.mailTextFlex {
    display: flex;
    column-gap: 15px;
}

.footerItemTwo h5 {
    color: white;
    font-size: 21px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    margin-bottom: 30px;
}

.footerUl {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

.footerUl li {
    cursor: pointer;
}

.footerBottomFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.footerBottomFlex p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

.companyConnectedMainBtn {
    margin: 0 auto;
    width: 466px;
    height: 74px;
    border: 1px solid #D9D9D9;
    border-radius: 37px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.companyConnectedMainBtn button {
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    border: none;
    background: white;
    padding: 16px 64px;
    border-radius: 29px;
    cursor: pointer;
}

.companyConnectedMainBtn .companyConnectedBtnTwo {
    color: white;
    font-size: 24px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    border: none;
    background: linear-gradient(90deg, #FF1E1E 0%, #FF8079 100%);
    padding: 16px 64px;
    border-radius: 29px;
    cursor: pointer;
}